.ideWrapper {
    display: flex;
}

.line {
    width: 35px;
    background-color: rgb(25, 28, 45);
    color: white;
    padding: 5p x;
    font-size: 18px;
}

.ide {
    resize: none;
    width: 60vw;
    outline: none;
    height: 100vh;
    border: 0px;
    color: white;
    background-color: rgb(25, 28, 45);
    font-size: 18px;
    padding: 8px;
}

textarea {
    padding-top: 3px;
}